@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'brandLogo';
  src: url('/fonts/Barriecito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'globalFontFamily';
  src: url('/fonts/Signika-VariableFont_GRAD,wght.ttf') format('truetype');
}


.brandLogoText {
  font-size: 27px;
  font-family: 'brandLogo';
}

.flex-center {
  @apply flex justify-center items-center flex-wrap;
}

.flex-between {
  @apply flex justify-between items-center flex-wrap;
}

.navbar-sm-view {
  @apply fixed bg-white left-0 top-[60px] w-screen h-screen z-50;
}

.navbar-lg-view {
  @apply static;
}