@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'brandLogo';
  src: url('/fonts/Barriecito-Regular.ttf') format('truetype'); 
}

@font-face{
  font-family: 'globalFontFamily';
  src: url('/fonts/Signika-VariableFont_GRAD,wght.ttf') format('truetype');
}


.brandLogoText {
  font-size: 30px;
  font-family: 'brandLogo';
}

.flex-center {
  @apply flex justify-center items-center flex-wrap;
}

.flex-between {
  @apply flex justify-between items-center flex-wrap;
}